ul {
    display: flex;
    list-style-type: none;
    font-size: 14pt
}
nav{
    position: absolute;
    width: 100%;
}
nav > div {
    width: 33%;
    display: inline-block;
}
img {
    height: 100px;
}