body{
    margin: 0;
}

ul {
    display: flex;
    list-style-type: none;
}
nav{
    position: absolute;
    width: 100%;
}
nav > div {
    width: 33%;
    display: inline-block;
}
li{
    padding: 10px;
}
img {
    height: 100px;
}

a:link.center, a:visited.center, a:active.center, a:hover.center{
    color: white;
    background-color: transparent;
    text-decoration: none;
}


a:link.sign_in, a:visited.sign_in, a:active.sign_in, a:hover.sign_in{
    color: black;
    background-color: transparent;
    text-decoration: none;
    font-weight: bold;
}

#sign_in{
    border-radius: 2em;
    padding: 0.4em 1em;
    background-color: red;
    width: auto;
}

.hero_new__video{
    width: 100%;
    z-index: -1;
}